{% extends "layout.tmpl" %}

{% block head %}
                {% if link %}
                {% else %}
    <style>
                    #link-panel {
                        display: none;
                    }
    </style>
                {% endif %}
{% endblock %}

{% block content %}
                <div class="alert alert-success text-center" id="link-panel" role="alert">
                    Your link was generated successfully.<br>
                    <code id="link-element">{{ link }}</code>
                </div>

                <form method="post">
                    <div class="form-group">
                        <input type="text" name="uri" class="form-control" placeholder="https://www.youtube.com/watch?v=dQw4w9WgXcQ" id="uri" autofocus>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="encrypt" id="encrypt" checked> Encrypt link
                        </label>
                    </div>

                    <button type="submit" class="btn btn-default btn-block" id="submit">Save</button>
                </form>

{% endblock %}

{% block script %}
    <script src="/js/jquery-2.1.3.min.js"></script>
    <script src="/js/sjcl.js"></script>
    <script>
        sjcl.random.startCollectors();

        $(function () {
            var input = document.getElementById("uri");
            input.focus();
            input.select();

            var linkElement = document.getElementById("link-element");
            if (linkElement != null) {
                linkElement.value = linkElement.value + window.location.hash;
            }

            var submit = document.getElementById("submit");
            submit.onclick = function (event) {
                var uri = document.getElementById("uri").value;
                var encrypt = document.getElementById("encrypt");
                if (encrypt.checked) {
                    console.log("Encrypt")
                    var key = generateKey(32);

                    var encryptedUri = sjcl.encrypt(key, uri);

                    $.post("/api/redirect", {
                        uri: encryptedUri,
                        encrypted: encrypt.checked
                    }, function (data) {
                        $("#link-panel").show();
                        var linkElement = document.getElementById("link-element");
                        linkElement.innerHTML = data + "#" + key;
                    });

                    event.returnValue=false;
                    return false;
                }
                else {
                    console.log("Don't encrypt")
                }
            }
        });

        function getRandomValues(length) {
            var randomWords;

            if (window.crypto && window.crypto.getRandomValues) {
                randomWords = new Int32Array(length);
                window.crypto.getRandomValues(randomWords);
            }
            else if (window.msCrypto && window.msCrypto.getRandomValues) {
                randomWords = new Int32Array(length);
                window.msCrypto.getRandomValues(randomWords);
            }
            else if (sjcl.random.isReady()) {
                randomWords = sjcl.random.randomWords(length);
            }
            else {
                throw "Could not generate secure random words";
            }

            return randomWords;
        }

        function generateKey(length) {
            var keyspace = "ABCDEFGHJKLMNPQRSTUVWXYZabcdefghkmnpqrstuvwxyz23456789";
            var key = "";

            while (key.length < length) {
                var randomValues = getRandomValues(length);
                var bytes = new Uint8Array(randomValues);

                var length = bytes.byteLength;
                for (var i = 0; i < length; i++) {
                    var c = String.fromCharCode(bytes[i]);
                    if (keyspace.indexOf(c) != -1) {
                        key += c;
                    }
                }
            }

            return key.substr(0, length);
        }
    </script>
{% endblock %}
