{% extends "layout.tmpl" %}

{% block head %}
    {% if link %}
    {% else %}
    <style>
        #link-panel {
            display: none;
        }
    </style>
    {% endif %}
{% endblock %}

{% block content %}
<div class="alert alert-success text-center" id="link-panel" role="alert">
    Your link was generated successfully.<br>
    <code id="link-element">{{ link }}</code>
</div>

<form method="post">
    <div class="form-group">
        <input type="text" name="uri" class="form-control" placeholder="https://www.youtube.com/watch?v=dQw4w9WgXcQ" id="uri" autofocus>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" name="encrypt" id="encrypt" checked> Encrypt link
        </label>
    </div>

    <button type="submit" class="btn btn-default btn-block" id="submit">Save</button>
</form>
{% endblock %}

{% block script %}
<script>
    $(function () {
        var input = document.getElementById("uri");
        input.focus();
        input.select();

        var linkElement = document.getElementById("link-element");
        if (linkElement != null) {
            linkElement.value = linkElement.value + window.location.hash;
        }

        var submit = document.getElementById("submit");
        submit.onclick = function (event) {
            var uri = document.getElementById("uri").value;
            var encrypt = document.getElementById("encrypt");
            if (encrypt.checked) {
                console.log("Encrypt")
                var key = generateKey(32);

                var encryptedUri = sjcl.encrypt(key, uri);

                $.post("/api/redirect", {
                    uri: encryptedUri,
                    encrypted: encrypt.checked
                }, function (data) {
                    $("#link-panel").show();
                    var linkElement = document.getElementById("link-element");
                    linkElement.innerHTML = data + "#" + key;
                });

                event.returnValue=false;
                return false;
            }
            else {
                console.log("Don't encrypt")
            }
        }
    });
</script>
{% endblock %}
