{% extends "minimal-layout.tmpl" %}

{% block head %}
<style type="text/css" media="screen">
    #editor { 
        min-height: 500px;
        margin: 50px 100px;
    }
    #link-panel {
        display: none;
    }
</style>
{% endblock %}

{% block content %}
<div class="alert alert-success text-center" id="link-panel" role="alert">
    Your link was generated successfully.<br>
    <code id="link-element">{{ link }}</code>
</div>

<form method="POST">
    <select id="content_type" name="content_type">
        <option value="csharp">C#</option>
        <option value="javascript">Javascript</option>
        <option value="markdown" selected>Markdown</option>
    </select>
    <div id="editor"></div>
    <noscript>
        <textarea></textarea>
    </noscript>
    <div class="checkbox">
        <label>
            <input type="checkbox" name="encrypt" id="encrypt" checked> Encrypt content
        </label>
    </div>
    <button type="submit" class="btn btn-default btn-block" id="submit">Paste</button>
</form>
{% endblock %}

{% block script %}
<script src="/js/ace.js" type="text/javascript" charset="utf-8"></script>
<script>
    $(function () {
        var editor = ace.edit("editor");
        editor.setTheme("ace/theme/chrome");
        editor.getSession().setMode("ace/mode/markdown");
        editor.setShowPrintMargin(false);
        editor.setOption("showGutter", false);
        editor.setHighlightActiveLine(false);
        editor.setFontSize(16);

        var linkElement = document.getElementById("link-element");
        if (linkElement != null) {
            linkElement.value = linkElement.value + window.location.hash;
        }

        var contentTypeElement = document.getElementById("content_type");
        contentTypeElement.onchange = function (event) {
            var contentType = event.target.value;
            editor.getSession().setMode("ace/mode/" + contentType);
        };

        var submit = document.getElementById("submit");
        submit.onclick = function (event) {
            var content = editor.getValue();
            var contentType = $('#content_type').find(":selected").val();
            var encrypt = document.getElementById("encrypt");
            if (encrypt.checked) {
                console.log("Encrypt")
                var key = generateKey(32);
                content = sjcl.encrypt(key, content, {ks:256});
            }
            else {
                console.log("Don't encrypt")
            }

            $.post("/api/paste", {
                "content": content,
                "content_type": contentType,
                "encrypted": encrypt.checked
            }, function (data) {
                $("#link-panel").show();
                var linkElement = document.getElementById("link-element");
                linkElement.innerHTML = data;
                if (encrypt.checked) {
                    linkElement.innerHTML += "#" + key;
                }
            });

            event.returnValue=false;
            return false;
        }
    });
</script>
{% endblock %}
